<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="registration" method="post">
<label>username</label>
<input type="text" name="username"><br><br>

<label>email</label>
<input type="email" name="email"><br><br>

<label>password</label>
<input type="password" name="password"><br><br>

<label>gender</label>
male<input type="radio" name="gender" value="male">
female<input type="radio" name="gender" value="female">
others<input type="radio" name="gender" value="others"><br><br>

<label>role</label>
admin<input type="radio" name="role" value="admin">
customer<input type="radio" name="role" value="customer"><br><br>
<label>address</label>
<textarea name="address"></textarea><br><br>


<input type="submit" value="register">

</form>

</body>
</html>